$bg-primary: #343a40;
$bg-secondary: #575c62;
$bg-header-footer: #252d35;
$bg-white: #fff;
$text-off-white: #b3b3b3;
$text-white: #fff;
$text-dark: #0000;
$bg-dark: #0000;

//
// $primary-subtle: #9ec5fe;
// $secondary-subtle: #c4c8cb;
// $success-subtle: #a3cfbb;
// $info-subtle: #9eeaf9;
// $warning-subtle: #ffe69c;
// $danger-subtle: #f1aeb5;
// $light-subtle: #e9ecef;
// $dark-subtle: #adb5bd;
// $success: #198754;
// $info: #0dcaf0;
// $warning: #ffc107;
// $danger: #dc3545;
// $light: #f8f9fa;
